<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tasklist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tasklist.description %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasklist.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.body %></td>
        <td><%= link_to 'Show', tasklist_task %></td>
        <td><%= link_to 'Edit', edit_tasklist_task_path(task) %></td>
        <td><%= link_to 'Destroy', tasklist_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_tasklist_path(@tasklist) %> |
<%= link_to 'Back', tasklists_path %>
