= simple_form_for(@task, url: {action: mode}) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message
  = f.input :task, input_html: {style: 'width: 86.5%'}
  = f.input :deadline, value: nil, as: :string, input_html: {class: "datetimepicker", style: 'width: 80%'}
  %br
  %br
  = f.button :submit, value: submit_value