<div <%= raw('id="modalCreateTask" class="reveal-modal" data-reveal') if modalOn %> >
  <h1>
    <%= title %>
  </h1>
  <!-- <div id='error_explanation' hidden>
    <div class='alert-box alert radius'>
      The form contains 1 error
    </div>
    <ul>
      <li>Name of task can't be blank</li>
    </ul>
  </div> -->
  <%= simple_form_for(@task, remote: true, url: {action: mode}) do |f| %>
    <% if @task.errors.any? %>
      
      <div id="error_explanation">
        <h2>
          <%= pluralize(@task.errors.count, "error") %>
          prohibited this task from being saved:
        </h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :task, input_html: {} %>
    <!-- <div id="error_text" style= "margin-top: 0" class="error" hidden><small >Name of task can't be blank</small></div> -->
    <%= f.input :all_tags, input_html: {} %>
    <%= f.input :raw_date, label: "Deadline", input_html: {} %>
    <br/>
    <br/>
    <div id="submitCreateTask">
      <%= f.button :submit, value: submit_value %>
    </div>
  <% end %>
</div>
