
%tr
  %td.text-center.toggle_complete{width: "5%"}
    .yeah= best_in_place [current_user, task], :completed, as: :checkbox, collection: [raw('<i class="fa fa-square-o"></i>'), raw('<i class="fa fa-check-square-o"></i>')]
  %td{width: "25%"}
    = best_in_place [current_user, task], :task
  %td{width: "40%"}
    = task.deadline || "No Deadline"
  %td{width: "40%"}
    = task.all_tags == '' ?  "No Tags" : task.all_tags 
  %td.text-center{width: "30%"}
    %ul.inline-list
      %li
        = link_to edit_user_task_path(current_user, task) do
          %i.fa.fa-edit
      %li
        = link_to [current_user, task], remote: true, method: :delete, class: 'delete_task', data: { confirm: 'Are you sure?' } do
          %i.fa.fa-trash