%p#notice= notice
%h1 Tasks
%ul.button-group.round
  %li= link_to 'New Task', new_user_task_path, class: "button tiny"
  %li#quick_add
    .button.tiny
      %i.fa.fa-arrow-down
=render "popup_form"
.alert-box.warning.rounded_top#pending_toggle{style: "margin-bottom: 0"}
  Pending Tasks
%table#pending.yolo{style: "border-style: solid; border-color: orange; margin-bottom: 0"}
  %thead
    %tr
      %td{width: "5%"} Done
      %td{width: "25%"} Task
      %td{width: "40%"} Deadline
      %td{width: "40%"} Tags
      %td{width: "35%"} Delete
  - if !@tasks_incomplete.empty?
    %tbody
      - @tasks_incomplete.each do |task|
        = render 'task', task: task 
.alert-box.warning.rounded_bottom{style: "margin-top: 0"}
  %span#pending_count= @tasks_incomplete.count
  &nbsppending tasks
%br
.alert-box.success.rounded_top#completed_toggle{style: "margin-bottom: 0"}
  Completed Tasks
%table#completed.yolo{style: "border-style: solid; border-color: green; margin-bottom: 0"}
  %thead
    %tr
      %td{width: "5%"} Done
      %td{width: "25%"} Task
      %td{width: "40%"} Deadline
      %td{width: "40%"} Tags
      %td{width: "35%"} Delete
  %tbody
    - @tasks_complete.each do |task|
      = render 'task', task: task
.alert-box.success.rounded_bottom{style: "margin-top: 0"}
  %span#completed_count= @tasks_complete.count
  &nbspcompleted tasks
%br
   
  