%p#notice= notice
%h1 Tasks
=render "popup_form", mode: :new
- if @tasks.empty?
  %span There are no tasks!
- else
  %table
    %thead
      %th{width: "30%"} Task
      %th{width: "65%"} Deadline
      %th{width: "30%"} Actions
    %tbody
      - @tasks.each do |task|
        %tr
          %td= task.task
          %td= task.deadline || "Nil"
          %td
            %ul.inline-list
              %li= link_to 'Show', user_task_path(current_user, task)
              %li
                = link_to edit_user_task_path(current_user, task) do
                  %i.fa.fa-edit
              %li
                = link_to [current_user, task], method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash
%br
  = link_to 'New Task', new_user_task_path