= simple_form_for(@user) do |f| 
  = render 'shared/error_messages'
  = field_set_tag mode do
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :password, required: true
    = f.input :password_confirmation, required: true

    =f.button :submit, value: "Create My Account"