%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %section.top-bar-section
    %ul.right   
      - if logged_in?
        
        %li.has-dropdown#tasks.hvr-pop
          %a.dropdown-toggle{:href => "#"}
            Tasks
          %ul.dropdown
            %li= link_to "All tasks", user_tasks_path(current_user)
        / %li.has-dropdown#tags
        /   %a.dropdown-toggle{:href => "#"}
        /     Tags
        /   %ul.dropdown
        /     %li= link_to "All tags", user_tags_path(current_user)
        /     - tags = current_user.tags.all
        /     - tags.each do |tag|
        /       = render 'tags/tag', tag: tag
        %li.has-dropdown#users.hvr-pop
          %a.dropdown-toggle{:href => "#"}
            Account  
          %ul.dropdown
            %li= link_to "Profile", current_user
            %li= link_to "Settings", edit_user_path(current_user)
            %li.divider
            %li
              = link_to "Log out", logout_path, method: "delete"
      - else
        %li#login= link_to "Log in", login_path
        %li#signup= link_to "Sign up", signup_path
    - if logged_in?
      %ul.left
        %li.has-form.row.collapse
          .large-8.small-9.columns
            #search_form
              = form_tag(user_tasks_path(current_user), method: :get) do
                = text_field_tag :query, params[:query], placeholder: "Search tasks"
          .large-4.small-3.columns
            #search_submit.button.expand Search

