!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "ISPIRATORE"
    = render 'layouts/shim'

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "vendor/jquery.datetimepicker"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tag


  %body
    .panel.text-center
      %h2 ISPIRATORE ~ BE INSPIRED ~
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          %section.left-small
            - if logged_in?
              %a.left-off-canvas-toggle.menu-icon{:href => "#"}
                %span
          %section.middle.tab-bar-section
            = render 'layouts/header'
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Notebooks
            %li
              %label Tags
        %section.main-section
          %hr
          - flash.each do |message_type, message|
            %div{:class => "alert-box #{message_type} radius"}= message
          .row.page-wrap
            .small-5.columns
              = yield
            .small-4.small-centered.columns-offset
              =render 'layouts/quote'
          %hr
          = render 'layouts/footer'
        %a.exit-off-canvas

    .debug-dump= debug(params) if Rails.env.development?
    .debug-dump= debug(cookies[:remember_token]) +  debug(cookies[:user_id]) if Rails.env.development?
    




